<!--GABRIEL MELGAR -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Modern Business - Start Bootstrap Template</title>

</head>
<app-navbar></app-navbar>

<body class="d-flex flex-column h-100">
  <main class="flex-shrink-0">
    <header class="bg-dark py-5">
      <div class="container px-2">
        <div class="row gx-5 align-items-center justify-content-center">
          <div class="col-lg-8 col-xl-7 col-xxl-6">
            <div class="my-5 text-center text-xl-start">
              <h1 class="display-5 fw-bolder text-white mb-2 text-center">¡Bienvenido!</h1>
              <p class="lead fw-normal text-white-50 mb-4 text-center">Invierte en sucursales para tu empresa, ¡Es tu
                mejor opción!</p>
              <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
              </div>
            </div>
          </div>
          <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5 "
              src="/assets/images/imagen1.png" alt="..." /></div>
        </div>
      </div>
    </header>
    <!-- Features section-->
    <section id="fondo" class="py-5">
      <div class="container px-5 my-5">
        <div class="row gx-5">
          <div class="col-lg-4 mb-5 mb-lg-0">
            <h2 id="texto1" class="fw-bolder mb-0 text-center text-light">Razones por las cuales invertir</h2>
            <img id="imageniv" class="img-fluid rounded-3 my-5 align-items-center" src="/assets/images/invertir.png" alt="..." />
          </div>

          <div class="col-lg-8">
            <div class="row gx-5 row-cols-1 row-cols-md-2">
              <div class="col mb-5 h-100">
                <div class="feature bg-light text-light rounded-3 mb-3">a
                </div>
                <h2 id='titulo1'class="h5">Ahorro de gastos <i class="bi bi-coin"></i></h2>
                <p class="mb-0 text-light" style="text-align: justify;">Trata de ahorrar costos administrativos, de esa forma ganarás en eficacia y en comodidad.</p>
              </div>
              <div class="col mb-5 h-100">
                <div id="icono1"class="feature bg-primary bg-gradient text-white rounded-3 mb-3">a
                </div>
                <h2 id='titulo1' class="h5">Llevan su propia contabilidad <i class="bi bi-table"></i></h2>
                <p class="mb-0 text-light" style="text-align: justify;">Las sucursales llevan su propia contabilidad, es decir, que cada una controla sus registros contables de forma independiente.</p>
              </div>
              <div class="col mb-5 mb-md-0 h-100">
                <div id="icono1" class="feature bg-gradient text-white rounded-3 mb-3">a
                </div>
                <h2 id='titulo1' class="h5">Menor inversión <i class="bi bi-cash-stack"></i></h2>
                <p class="mb-0 text-light" style="text-align: justify;">Te ayuda a tener una menor inversión, como puede ser en la infraestructura.
                  </p>
              </div>
              <div class="col h-100">
                <div class="feature bg-light bg-gradient text-light rounded-3 mb-3">a
                </div>
                <h2 id='titulo1'class="h5">Te permite tener <i class="bi bi-check-lg"></i></h2>
                <p class="mb-0 text-light" style="text-align: justify;">Un mayor control, centraizando la actividad financiera y administrativa del grupo.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="fondo1" class="py-5">
      <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
          <div class="col-lg-8 col-xl-6">

            <div class="text-center">
              <h2 id='tituloF'class="fw mb-5 text-light title">Ejemplos de sucursales de empresas</h2>
            </div>
          </div>
        </div>
        <div class="row gx-5">
          <div class="col-lg-4 mb-5">
            <div class="card h-100 shadow border-0">
              <img class="card-img-top" src="/assets/images/fotomc.jpg" alt="..." />
              <div class="card-body p-4">
                <div class="badge bg-primary bg-gradient rounded-pill mb-2">Sucursal Jutiapa</div>
                <a class="text-decoration-none link-dark stretched-link" href="#!">
                  <h5 class="card-title mb-3">Mcdonald's </h5>
                </a>
                <p class="card-text mb-0" style="text-align: justify;">Es una empresa global, es la compañía mundial líder de servicios de alimentos, con más de 35.000 restaurantes sirviendo aproximadamente a 70 millones de clientes en más de 100 países cada día.</p>
              </div>
              <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                <div class="d-flex align-items-end justify-content-between">
                  <div class="d-flex align-items-center">
                    <img class="rounded-circle me-3" src="/assets/images/mac.jpg" alt="..." />
                    <div class="small">
                      <div class="fw-bold">Cofiño Fernández</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-5">
            <div class="card h-100 shadow border-0">
              <img class="card-img-top" src="/assets/images/tacobell.jpg" alt="..." />
              <div class="card-body p-4">
                <div class="badge bg-primary bg-gradient rounded-pill mb-2">Sucursal Cayala</div>
                <a class="text-decoration-none link-dark stretched-link" href="#!">
                  <h5 class="card-title mb-3">Taco Bell</h5>
                </a>
                <p class="card-text mb-0" style="text-align: justify;">Es una cadena de restaurantes de comida rápida, especializada en cocina Tex-Mex. Taco Bell es una cadena estadounidense de restaurantes de comida rápida que se originó en Irvine</p>
              </div>
              <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                <div class="d-flex align-items-end justify-content-between">
                  <div class="d-flex align-items-center">
                    <img class="rounded-circle me-3" src="/assets/images/taco.jpg" alt="..." />
                    <div class="small">
                      <div class="fw-bold">Mario Ibarguen</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-5">
            <div class="card h-100 shadow border-0">
              <img class="card-img-top" src="/assets/images/fratelli.jpg" />
              <div class="card-body p-4">
                <div class="badge bg-primary bg-gradient rounded-pill mb-2">Sucursal zona 10</div>
                <a class="text-decoration-none link-dark stretched-link">
                  <h5 class="card-title mb-3">The fratelli</h5>
                </a>
                <p class="card-text mb-0" style="text-align: justify;">Es una línea de restaurante de comida italiana con un concepto innovador ofreciendo el mejor servicio y calidad de sus platillos.</p>
              </div>
              <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                <div class="d-flex align-items-end justify-content-between">
                  <div class="d-flex align-items-center">
                    <img class="rounded-circle me-3" src="/assets/images/frat.jpg" alt="..." />
                    <div class="small">
                      <div class="fw-bold">Marcos Reichert </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Call to action-->

      </div>
    </section>
  </main>
  <!-- Footer-->
    <app-footer></app-footer>

</body>

</html>

<router-outlet></router-outlet>
