<!--GABRIEL MELGAR -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <i class="bi bi-building"></i>
    </button>
    <div class="collapse navbar-collapse justify-content-center text-white" id="navbarNav">
      <ul class="nav navbar-nav pull-xs-center">
        <li class="nav-item mx-5 ">
          <a id="dd" class="nav-link text-white" routerLink="/inicio" routerLinkActive="active">Inicio <i class="bi bi-clipboard-check"></i></a>
        </li>
        <li class="nav-item mx-5">
          <a id="dd" class="nav-link text-white" routerLink="/login" routerLinkActive="active">Login <i class="bi bi-play"></i></a>
        </li>
        <li class="nav-item mx-5">
          <a id="dd"class="nav-link text-white" routerLink="/registro" routerLinkActive="active">Registrarse <i class="bi bi-check2-all"></i></a>
        </li>

      </ul>
    </div>
  </div>
</nav>

