<!--DIEGO PATZAN-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <i class="bi bi-building"></i>
    </button>
    <div class="collapse navbar-collapse justify-content-center text-white" id="navbarNav">
      <ul class="nav navbar-nav pull-xs-center">
        <li class="nav-item mx-5 ">
          <a id="dd" class="nav-link text-white" routerLink="/login" routerLinkActive="active">Volver <i class="bi bi-arrow-left-short"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

  <div  style="margin-top:-60px" class="container p-5 position-absolute top-100 start-50 translate-middle color-fondo radio-card text-white text-center">
    <div class="row">
      <div class="col-12 col-md-6">
        <img src="/assets/images/Edificios (1).png" class="rounded mx-auto d-block img-fluid img-fondo" alt="...">
      </div>
      <div class="col-12 col-md-6">
        <div class="card-body ">
          <div class="mb-4">
            <i class="fas fa-user-circle fa-7x text-white tamaño-icono" ><i class="bi bi-person-bounding-box"></i></i>
          </div>
          <form class="was-validated">
            <div class="mb-3">
              <label class="form-label" for="usuario">Nombre</label>
              <input type="text" class="form-control" name="usuario" id="usuario" required>
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Descripción empresa</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
            </div>
            <div class="mb-3">
              <label class="form-label" for="usuario">Correo</label>
              <input type="email" class="form-control" name="usuario" id="usuario" required>
            </div>
            <div class="mb-3">
              <label class="form-label" for="clave">Contraseña</label>
              <input type="password" class="form-control" name="clave" id="clave" required>
            </div>
            <div class="mb-3">
              <label class="form-label" for="clave">Confirmar contraseña</label>
              <input type="password" class="form-control" name="clave" id="clave" required>
            </div>
            <div class="mb-3">
              <label class="form-label" for="clave">Imagenes</label>
              <input type="file" class="form-control" name="clave" id="clave" required>
            </div>
            <p class="text-danger"></p>
            <button type="submit" class="btn btn-outline-primary" routerLink="/registro" routerLinkActive="active">Registrarse</button>
          </form>
        </div>
      </div>
    </div>
  </div>

<router-outlet></router-outlet>
