.img-fluid{
  padding-top: 35%;
  padding-left: 10%;
}

#registrar{
  color: rgb(23, 7, 161) !important
}
#registrar:hover{
  color: red !important
}


#boton:hover{
  background-color:#AFA586 !important;
  color: black !important;
}

#textoI{
  font-size:22px !important;
}
#ini:hover{
  background-color:#AFA586 !important;
}

#dd:hover{
  background-color: #CF6714 !important;
  font-size:18px !important;
  border-radius: 5px;
}

#dd{
  text-align: center !important;
}

